# Example of a decrypted secrets.yaml file containing secrets for various services.
# The actual `secrets.yaml` file should be created using `sops` to encrypt the secrets.
aiostreams:
    env: |
        SECRET_KEY=secret
beszel:
    ssh_key: |
        -----BEGIN OPENSSH PRIVATE KEY-----
        privKey
        -----END OPENSSH PRIVATE KEY-----
    ssh_pub_key: ssh-ed25519 pubKey
crowdsec:
    env: |
        BOUNCER_KEY_TRAEFIK=secret
        ENROLL_INSTANCE_NAME=homeserver
        ENROLL_KEY=secret
dockdns:
    env: |
        MYDOMAIN_COM_API_TOKEN=token
gluetun:
    env: |
        WIREGUARD_PRIVATE_KEY=key
        WIREGUARD_ADDRESSES=1.2.3.4/32
        WIREGUARD_PRESHARED_KEY=psk
        FIREWALL_VPN_INPUT_PORTS=12345
healthchecks:
    env: |
        SECRET_KEY=secret
        SUPERUSER_EMAIL="admin@mydomain.com"
        SUPERUSER_PASSWORD=secret
immich:
    env: |
        DB_PASSWORD=abc
    db_env: |
        POSTGRES_PASSWORD=abc
karakeep:
    env: |
        NEXTAUTH_SECRET=secret
        MEILI_MASTER_KEY=secret
paperless:
    env: |
        PAPERLESS_SECRET_KEY=secret
        PAPERLESS_DBUSER=user
        PAPERLESS_DBPASS=password
    db_env: |
        POSTGRES_USER=user
        POSTGRES_PASSWORD=password
    ftp_env: |
        FTP_PASS=password
pocketId:
    traefikEnv: |
        OIDC_MIDDLEWARE_SECRET=secret
        POCKET_ID_CLIENT_ID=clientId
        POCKET_ID_CLIENT_SECRET=clientSecret
qbittorrent:
    env: |
        TORRENTING_PORT=12345
traefik:
    env: |
        CF_DNS_API_TOKEN=token
        BOUNCER_KEY_TRAEFIK=secret
wg-easy:
    env: |
        PASSWORD_HASH=passwordHash